:root {
    --navbar-height: 92px;
}

.button {
        width: 193px;
}

@media (max-width: 992px) and (min-width: 768px) {
    .button {
        width: 165px;
    }
}

/* Section Banner section */

@media (max-width: 610px) {
    .section-banner br {
        display: inline-block;
    }
}

/* Photo Highlights section */

#photo-highlights .col:nth-child(1) {
    background-image: url("../images/IMG_7352.jpg");
}

#photo-highlights .col:nth-child(2) {
    background-image: url("../images/IMG_7200.jpg");
}

#photo-highlights .col:nth-child(3) {
    background-image: url("../images/IMG_7338.jpg");
}
