.button {
        width: 193px;
}
@media (max-width: 992px) and (min-width: 768px) {
    .button {
        width: 165px;
    }
}

/* Jumbotron section */

#jumbotron img {
    padding-top: 25px;
}

/* Section Banner section */

@media (max-width: 610px) {
    .section-banner br {
        display: inline-block;
    }
}

/* Photo Highlights section */

#photo-highlights .col:nth-child(1) {
    background-image: url(../images/test-c.jpeg);
}

#photo-highlights .col:nth-child(2) {
    background-image: url(../images/test-b.jpeg);
}

#photo-highlights .col:nth-child(3) {
    background-image: url(../images/test-a.jpeg);
}