body {
    -webkit-font-smoothing: auto;
    padding: 0;
    margin: 0;
}

.container {
    width: calc(100% - 30px);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.clear {
    clear: both;
}

a, .button {
    text-decoration: none;
}

.button {
    margin-top: 24px;
    padding: 12px 24px;
    border-width: 4px;
    border-style: solid;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    display: block;
    transition: 0.3s all;
    background-color: transparent;
    cursor: pointer;
}

.button:hover {
    border-color: #828282;
    color: #fafafa;
}

.button:hover,
.button:active {
    text-decoration: none;
}

.button:focus {
    outline: none;
}

.button.disabled {
    background-color: #828282;
    color: #fafafa;
    cursor: not-allowed;
}

.dropdown-input {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='rgb(130, 130, 130)' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    border-width: 2px;
    border-style: solid;
}

form input.is-invalid,
form textarea.is-invalid,
form input.is-valid,
form textarea.is-valid {
    padding-right: 36px !important;
    background-repeat: no-repeat;
    background-position: right 9px center;
    background-size: 18px 18px;
}

form input.is-valid,
form textarea.is-valid {
    border-color: #28a745;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
}

form input.is-invalid,
form textarea.is-invalid {
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/></svg>");
}

form textarea.is-valid,
form textarea.is-invalid {
    background-position: top 8px right 8px;
}

form input.is-valid:focus,
form textarea.is-valid:focus {
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 25%) !important;
}

form input.is-invalid:focus,
form textarea.is-invalid:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%) !important;
}

form select {
    width: 100%;
    background: transparent url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'><path fill='%23828282' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") no-repeat right 0.75rem center/8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Typography */

.display,
.title,
.description,
.caption,
.button {
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 130%;
}

.display {
    font-size: 84px;
    font-weight: 800;
}

.title {
    font-size: 32px;
    font-weight: 600;
}

.description {
    font-size: 20px;
    font-weight: 400;
}

.description .bold {
    font-weight: 600;
}

.caption {
    font-size: 16px;
    font-weight: 400;
}

.no-alternate-styling {
    font-family: 'Montserrat', sans-serif;
}

/* Color Scheme */

.text-color-primary,
.button,
.underline:hover {
    color: #828282;
}

.button,
.is-default, {
    border-color: #828282;
}

.button:hover,
.underline:after {
    background-color: #828282;
}

.text-color-white {
    color: #fafafa;
}

.bg-color-primary {
    background-color: #fafafa;
}

.button:active:not(.disabled) {
    border-color: #676767;
}

.button:active:not(.disabled),
.underline:active:after {
    background-color: #676767;
}

#footer .social-media-icons a:hover {
    background-color: #828282;
}

#footer .social-media-icons a:hover i {
    color: #fafafa;
}

#navbar .links a:active,
#footer .links a:active {
    color: #676767;
}

#footer .social-media-icons a:focus {
    border-color: #676767;
    background-color: #676767;
}

#footer .social-media-icons a:focus i {
    color: #fafafa;
}

#navbar,
.info .content > div,
.section-banner,
#contact-form .inner,
#footer {
    z-index: 10;
    position: relative;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.15);
}

.subpage-jumbotron + .info,
.subpage-jumbotron + #contact-form,
.subpage-jumbotron + .legal-page,
.merch-jumbotron + .info {
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.15);
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 130, 130,.25);
}

/* Underline */

.underline {
    position: relative;
}

.underline:after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    bottom: -5px;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 2px;
}

.underline:hover {
    text-decoration: none;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after,
.underline.active:after {
    left: 0;
    right: auto;
    width: 100%;
}

/* Gradient Background */

.gradient-bg {
    background: linear-gradient(135deg,
        #2E3192, #00AEEF  /* blueberry basil */
    /*    #F7941D, #F9ED32,  /* lemon ginger */
    /*    #9E1F63, #ED1C24   /* apple mint */
    );

    background-size: 100vw;
    /* transition: 0.3s all; */ /* turning this off since the gradient animation is off too */

/*    -webkit-animation: gradient-animation 10s ease infinite;
    -moz-animation: gradient-animation 10s ease infinite;
    animation: gradient-animation 10s ease infinite; */
}
/*
@-webkit-keyframes gradient-animation {
    0% {
        background: linear-gradient(135deg,
            #2E3192, #00AEEF );
    }
    25% {
        background: linear-gradient(135deg,
            #00AEEF, #F7941D );
    }
    50% {
        background: linear-gradient(135deg,
            #F7941D, #F9ED32 );
    }
    75% {
        background: linear-gradient(135deg,
            #F9ED32, #9E1F63 );
    }
    100% {
        background: linear-gradient(135deg,
            #9E1F63, #ED1C24 );
    }
}
@-moz-keyframes gradient-animation {
    0% {
        background: linear-gradient(135deg,
            #2E3192, #00AEEF );
    }
    25% {
        background: linear-gradient(135deg,
            #00AEEF, #F7941D );
    }
    50% {
        background: linear-gradient(135deg,
            #F7941D, #F9ED32 );
    }
    75% {
        background: linear-gradient(135deg,
            #F9ED32, #9E1F63 );
    }
    100% {
        background: linear-gradient(135deg,
            #9E1F63, #ED1C24 );
    }
}
@keyframes gradient-animation {
    0% {
        background: linear-gradient(135deg,
            #2E3192, #00AEEF );
    }
    25% {
        background: linear-gradient(135deg,
            #00AEEF, #F7941D );
    }
    50% {
        background: linear-gradient(135deg,
            #F7941D, #F9ED32 );
    }
    75% {
        background: linear-gradient(135deg,
            #F9ED32, #9E1F63 );
    }
    100% {
        background: linear-gradient(135deg,
            #9E1F63, #ED1C24 );
    }
}
*/
/* Shopify Custom Styling */

.product-price {
    font-weight: 600;
    display: block;
    margin-bottom: 4px;
}

ul.product-info-list {
    margin: 8px 0 0 32px;
    text-align: left;
}

ul.product-info-list li {
    list-style: disc !important;
}

/* Navbar */

#navbar {
    background-color: #fafafa;
    padding: 10px 0 12px 0;
    height: calc(var(--navbar-height) - 22px);
    overflow: hidden;
    transition: 0.3s all;
}

#navbar.mobile-navbar-expanded {
    height: 222px;
}

#navbar .container, #navbar .links {
    height: 100%;
}

#navbar .logo {
    position: absolute;
    top: 47px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#navbar .logo img {
    height: 70px;
    position: relative;
    z-index: 1;
}

#navbar .logo .gradient-bg {
    position: absolute;
    z-index: 0;
    margin: 1px;
    height: 68px;
    width: 68px;
}

#navbar .toggler-icon-container {
    display: none;
}

#navbar .toggler-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='%23828282' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

#navbar .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .links-col {
    display: flex;
}

#navbar .links-col div:not(:last-child) {
    margin-right: 90px;
}

@media (max-width: 991px) {
    #navbar .links-col div:not(:last-child) {
        margin-right: 48px;
    }
}

@media (max-width: 767px) {
    #navbar .container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #navbar .toggler-icon-container {
        display: block;
        height: calc(var(--navbar-height) - 22px);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    #navbar .links,
    #navbar .links-col {
        display: block;
    }

    #navbar .links {
        text-align: right;
    }

    #navbar .links-col div {
        margin: 0 0 8px 0 !important;
    }
}

/* Jumbotron section */

:root {
    --navbar-height: 92px;
}

#jumbotron .container {
    display: flex;
    justify-content: space-between;
}

#jumbotron.subpage-jumbotron .container,
#jumbotron.merch-jumbotron .container {
    position: relative;
}

#jumbotron.subpage-jumbotron.image-left .container,
#jumbotron.merch-jumbotron.image-left .container {
    flex-direction: row-reverse;
}

#jumbotron .text {
    display: flex;
    align-items: center;
}

#jumbotron.subpage-jumbotron .display,
#jumbotron.merch-jumbotron .display {
    z-index: 2;
}

#jumbotron.subpage-jumbotron.image-left .text,
#jumbotron.merch-jumbotron.image-left .text {
    text-align: right;
}

#jumbotron.subpage-jumbotron,
#jumbotron.merch-jumbotron {
    overflow: hidden;
}

#jumbotron.subpage-jumbotron,
#jumbotron.subpage-jumbotron .text,
#jumbotron.merch-jumbotron,
#jumbotron.merch-jumbotron .text {
    height: calc(100vh - var(--navbar-height));
    min-height: 600px;
    max-height: 850px;
}

#jumbotron.subpage-jumbotron img {
    padding-top: 25px;
    width: 450px;
    position: absolute;
}

#jumbotron.merch-jumbotron img {
    position: relative;
}

@media (min-width: 1200px) {
    #jumbotron.subpage-jumbotron.image-left img {
        left: -40px;
        bottom: -160px;
    }

    #jumbotron.subpage-jumbotron.image-right img {
        right: -140px;
        bottom: -250px;
    }

    #jumbotron.subpage-jumbotron .text {
        max-width: 600px;
    }
}

@media (max-width: 1199px) {
    #jumbotron.subpage-jumbotron.image-left img {
        bottom: -160px;
    }

    #jumbotron.subpage-jumbotron.image-right img {
        bottom: -250px;
        right: -280px;
    }

    #jumbotron.subpage-jumbotron .text {
        max-width: 600px;
    }
}

@media (min-width: 992px) {
    #jumbotron.merch-jumbotron.image-left img {
        transform: rotate(25deg);
        left: -180px;
        bottom: -45px;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    #jumbotron.subpage-jumbotron.image-left img {
        left: -210px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #jumbotron.subpage-jumbotron .text {
        max-width: 400px;
    }

    #jumbotron.subpage-jumbotron.image-left img {
        left: -260px;
    }

    #jumbotron.merch-jumbotron.image-left img {
        transform: rotate(25deg);
        left: -50px;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 767px) and (min-width: 500px) {
    #jumbotron.subpage-jumbotron .text {
        max-width: 400px;
    }

    #jumbotron.subpage-jumbotron.image-left img {
        left: -430px;
    }

    #jumbotron.subpage-jumbotron.image-right img {
        right: -450px;
    }

    #jumbotron.merch-jumbotron.image-left img {
        transform: rotate(35deg);
        left: 50px;
        bottom: -140px;
        width: 150%;
        height: 150%;
    }
}

@media (min-width: 576px) {
    #jumbotron:not(.subpage-jumbotron):not(.merch-jumbotron) .container {
        height: calc(100vh - var(--navbar-height));
        min-height: 700px;
    }
}

@media (min-width: 500px) {
    #jumbotron.subpage-jumbotron.image-left img {
        transform: rotate(30deg);
    }

    #jumbotron.subpage-jumbotron.image-right img {
        transform: rotate(-45deg);
    }
}

@media (max-width: 499px) {
    #jumbotron.subpage-jumbotron .container,
    #jumbotron.merch-jumbotron .container {
        display: block;
    }

    #jumbotron.subpage-jumbotron .text,
    #jumbotron.merch-jumbotron .text {
        text-align: center !important;
    }

    #jumbotron.subpage-jumbotron .text > div,
    #jumbotron.merch-jumbotron .text > div {
        width: 100%;
        margin-top: -100px;
        font-size: 60px;
    }

    #jumbotron.subpage-jumbotron img {
        transform: none;
        bottom: -620px;
        width: 100%;
        left: 0;
    }

    #jumbotron.subpage-jumbotron.image-left img {
        bottom: -499px;
    }

    #jumbotron.subpage-jumbotron.image-right img {
        bottom: -620px;
    }

    #jumbotron.merch-jumbotron img {
        transform: rotate(25deg);
        bottom: 300px;
        left: -200px;
        width: 150%;
        height: 150%;
    }
}

@media (max-width: 450px) {
    #jumbotron.subpage-jumbotron .text > div {
        font-size: 48px;
    }
}

@media (max-width: 420px) {
    #jumbotron.subpage-jumbotron.image-left img {
        bottom: -330px;
    }

    #jumbotron.subpage-jumbotron.image-right img {
        bottom: -400px;
    }
}

/* Info section */

.info {
    padding: 100px 0;
}

.info .container {
    position: relative;
}

.info .content {
    width: 50%;
    height: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
}

.info .content > div {
    padding: 50px 75px;
}

.info .content .subtitle {
    margin-bottom: 5px;
}

.info img {
    width: 70%;
}

.info .title {
    margin-bottom: 8px;
}

@media (max-width: 992px) {
    .info .container .title {
        font-size: 24px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .info .title {
        font-size: 20px;
    }

    .info .description {
        margin-top: 5px;
        font-size: 16px;
    }

    .info .button {
        margin-top: 15px;
        font-size: 16px;
    }

    .info .content > div {
        padding: 24px 35px;
    }
}

@media (max-width: 767px) {
    .info .container {
        width: calc(100% - 30px);
        display: flex;
        flex-direction: column-reverse;
    }
    .info .content {
        margin: -100px auto 0 auto;
        width: 80%;
        height: 100%;
        position: relative;
        left: 0;
        right: 0;
    }
    .info .content > div {
        padding: 25px 30px;
    }
    .info .description {
        font-size: 16px;
        margin-top: 5px;
    }
    .info img {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .info .content {
        margin: -50px auto 0 auto;
        width: 90%;
    }
}

@media (max-width: 350px) {
    .info .content {
        margin: 25px auto 0 auto;
        width: 100%;
    }
}

/* Right Info section */

.info.right .content {
    right: 15px;
}

/* Left Info section */

.info.left img {
    float: right;
}

/* Photo Highlights section */

#photo-highlights {
    height: 33vw;
    display: flex;
}

#photo-highlights .image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

@media (max-width: 450px) {
    #photo-highlights {
        height: auto;
        flex-direction: column;
    }

    #photo-highlights .image {
        height: 66vw;
    }
}

/* Section Banner sections */

.section-banner {
    text-align: center;
    padding: 30px 0;
}

.section-banner br {
    display: none;
}

@media (max-width: 450px) {
    .section-banner .title {
        font-size: 24px;
    }
}

/* Footer */

#footer {
    padding: 30px 0;
}

#footer > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#footer .links {
    display: flex;
    align-items: center;
    font-size: 24px;
}

#footer .links .row:first-child {
    margin-right: 32px;
}

#footer .links .row > div:not(:last-child) {
    margin-bottom: 8px;
}

#footer form {
    display: flex;
    flex-direction: column;
}

#footer form .info-message {
    margin-bottom: 4px;
}

#footer form .input-wrapper {
    margin: 0;
    display: flex;
}

#footer form input {
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-radius: 4px 0 0 4px;
    padding: 6px 12px;
    flex-grow: 1;
}

#footer form input:focus {
    border-width: 2px 1px 2px 2px;
}

#footer form button {
    border: 2px solid #6c757d;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 0 4px 4px 0;
    padding: 6px 12px;
    color: #6c757d;
    background-color: #fafafa;
    cursor: pointer;
    margin-left: -1px;
}

#footer form button:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

#footer form input,
#footer form button {
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

#footer form input:focus,
#footer form button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(130 130 130 / 25%);
}

#footer .social-media-icons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

#footer .social-media-icons a {
    border: 2px solid #828282;
    border-radius: 50%;
    width: 28px;
    height: 24px;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
}

#footer .social-media-icons a:not(:last-child) {
    margin-right: 40px;
}

@media (max-width: 992px) {
    #footer > .container {
        flex-direction: column;
    }

    #footer form,
    #footer .social-media {
        margin: 0 auto;
    }

    #footer .links {
        display: block;
        margin: 8px 0;
        width: 100%;
    }

    #footer .links .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #footer form {
        order: -1;
    }

    #footer .social-media-icons {
        justify-content: center;
    }
}

@media (max-width: 559px) {
    #footer .links {
        display: flex;
        margin: 24px 0 24px 0;
    }

    #footer .links .row {
        display: flex;
        flex-direction: column;
    }

    #footer .links .row:first-child {
        margin-right: 32px;
    }
}

@media (max-width: 399px) {
    #footer .description {
        font-size: 16px;
    }

    #footer .links .row:first-child {
        margin-right: 16px;
    }
}
