.button {
    width: 106px;
}

/* Jumbotron section */

#jumbotron img {
    padding-top: 25px;
}

/* Contact Form section */

#contact-form {
    padding: 150px 0;
}

#contact-form .inner {
    width: 60%;
    margin: 0 auto;
    padding: 75px 100px;
}

#contact-form .inner > div:nth-child(2) {
    max-width: 450px;
    margin: 0 auto;
}

#contact-form .form-header {
    text-align: center;
}

#contact-form form {
    margin-top: 50px;
}

#contact-form .form-control {
    border-width: 2px;
    border-style: solid;
}

#contact-form label {
    margin-bottom: 0.25rem;
}

#contact-form .asterisk {
    color: #e60000;
}

#contact-subject {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='rgb(130, 130, 130)' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
}

@media (max-width: 992px) and (min-width: 577px){
    #contact-form .inner { 
        width: 80%;
        padding: 75px;
    }
}

@media (max-width: 576px) {
    #contact-form .inner { 
        width: 90%;
        padding: 50px 35px;
    }
}

@media (max-width: 320px) {
    #contact-form label,
    #contact-form input,
    #contact-form select,
    #contact-form textarea {
        font-size: 14px;
    }
}

@media (max-width: 355px){
    #contact-form .title {
        font-size: 24px;
    }
    
    #contact-form .description {
        font-size: 16px;
        margin: 10px auto 0 auto;
    }
}

/* Section Banner section */

@media (max-width: 750px) {
    .section-banner br {
        display: inline-block;
    }
}

/* Photo Highlights section */

#photo-highlights .col:nth-child(1) {
    background-image: url(../images/test-b.jpeg);
}

#photo-highlights .col:nth-child(2) {
    background-image: url(../images/test-c.jpeg);
}

#photo-highlights .col:nth-child(3) {
    background-image: url(../images/test-a.jpeg);
}
