/* Contact Form section */

#contact-form {
    padding: 150px 0;
}

#contact-form .inner {
    width: calc(60% - 200px);
    margin: 0 auto;
    padding: 75px 100px;
}

@media (max-width: 992px) {
    #contact-form .inner {
        width: calc(80% - 150px);
        padding: 75px;
    }
}

@media (max-width: 576px) {
    #contact-form .inner {
        width: calc(90% - 70px);
        padding: 50px 35px;
    }
}

#contact-form .inner > div:nth-child(2) {
    max-width: 450px;
    margin: 0 auto;
}

#contact-form .form-header {
    text-align: center;
}

#contact-form form {
    margin-top: 50px;
}

#contact-form .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#contact-form .single-col-row {
    width: 100%;
    margin-bottom: 16px;
}

#contact-form .col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: calc(50% - 30px);
    position: relative;
    width: calc(100% - 30px);
    padding: 0 15px;
    margin-bottom: 16px;
}

@media (max-width: 767px) {
    #contact-form .col {
        flex-grow: 1;
        max-width: calc(100% - 30px);
    }
}

#contact-form .asterisk {
    color: #e60000;
}

#contact-form label {
    display: inline-block;
    margin-bottom: 4px;
}

#contact-form input:not(.button),
#contact-form textarea {
    width: calc(100% - 30px);
}

#contact-form input.is-valid,
#contact-form input.is-invalid,
#contact-form textarea.is-valid,
#contact-form textarea.is-invalid {
    width: calc(100% - 54px);
}

/* Section Banner section */

@media (max-width: 750px) {
    .section-banner br {
        display: inline-block;
    }
}

/* Photo Highlights section */

#photo-highlights .image:nth-child(1) {
    background-image: url("../images/photo-highlight-7.jpg");
    background-position: right center;
}

#photo-highlights .image:nth-child(2) {
    background-image: url("../images/photo-highlight-8.jpg");
}

#photo-highlights .image:nth-child(3) {
    background-image: url("../images/photo-highlight-9.jpg");
    background-position: right center;
}
