/* Jumbotron */

#jumbotron .container {
    padding: 40px 0;
    height: calc(100vh - var(--navbar-height));
    align-items: center;
}

#jumbotron .image {
    max-width: 40%;
}

#jumbotron img {
    width: 100%;
}

#jumbotron .image,
#jumbotron .display {
    z-index: 2;
}

#bg-gradient {
    width: 100%;
    height: 370px;
    position: absolute;
    left: 0;
    background-color: blue;
    z-index: 1;
}

@media (max-width: 1199px) {
    #jumbotron .display {
        font-size: 80px;
    }
}

@media (max-width: 991px) {
    #jumbotron .display {
        font-size: 60px;
    }

    #bg-gradient {
        height: 275px;
    }
}

@media (max-width: 767px) {
    #jumbotron .display {
        font-size: 42px;
    }

    #bg-gradient {
        height: 205px;
    }
}

@media (max-width: 575px) {
    #jumbotron .container {
        flex-direction: column-reverse;
        height: auto;
    }

    #jumbotron .display {
        font-size: 48px;
        text-align: center;
        width: 100%;
    }

    #bg-gradient {
        height: 300px;
    }

    #jumbotron .image {
        margin: 0 auto;
        height: calc(100vh - var(--navbar-height) - 240px);
        max-width: 100%;
    }

    #jumbotron img {
        width: auto;
        height: 100%;
    }
}

@media (min-width: 450px) and (max-width: 575px) {
    #jumbotron .image {
        height: auto;
    }

    #jumbotron img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 449px) {
    #jumbotron .display {
        font-size: 42px;
    }

    #bg-gradient {
        height: 250px;
    }

    #jumbotron .image {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    #jumbotron img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 374px) {
    #jumbotron .display {
        font-size: 32px;
    }

    #bg-gradient {
        height: 210px;
    }
}

/* Latest Flavors section */

#latest-flavors {
    position: relative;
    overflow: hidden;
}

#latest-flavors .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#latest-flavors .container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#latest-flavors .icons {
    margin-bottom: 15px;
}

#latest-flavors .icons img {
    width: 80px;
}

#latest-flavors .icons img:not(:last-child) {
    margin-right: 8px;
}

#latest-flavors .subtitle {
    margin: 5px 0;
}

#latest-flavors > img {
    position: absolute;
    bottom: -280px;
    z-index: 0;
}

#latest-flavors > img.left {
    left: -70px;
    transform: rotate(30deg);
}

#latest-flavors > img.right {
    right: -70px;
    transform: rotate(-30deg);
}

@media (min-width: 1330px) {
    #latest-flavors > img {
        width: 400px;
    }
}

@media (max-width: 1329px) {
    #latest-flavors > img {
        width: 30%;
    }
}

@media (min-width: 850px) {
    #latest-flavors .container {
        padding: 150px 0;
    }
}

@media (max-width: 849px) and (min-width: 768px) {
    #latest-flavors .container {
        padding: 120px 0;
    }
}

@media (max-width: 767px) {
    #latest-flavors .container {
        padding: 80px 0;
    }
}

@media (max-width: 340px) {
    #latest-flavors .description {
        font-size: 18px;
    }
}

/* Right Info section */

.info.right .button {
    display: inline-block;
}

@media (max-width: 360px) {
    .info.right .button {
        font-size: 18px;
    }
}

/* Merch section */

#merch {
    position: relative;
    overflow: hidden;
}

#merch .container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-top: 150px;
    padding-bottom: 150px;
}

#merch .display {
    max-width: 550px;
}

#merch .button {
    display: inline-block;
}

@media (max-width: 575px) {
    #merch {
        text-align: center;
    }

    #merch .display {
        font-size: 48px;
        color: #fafafa;
    }

    #merch .button {
        margin: 24px auto 0 auto;
        border-color: #fafafa;
        color: #fafafa;
    }

    #merch .button:hover {
        background-color: #fafafa;
        color: #09478e;
    }
}

@media (max-width: 470px) {
    #merch > div {
        max-width: 350px;
        margin: 0 auto;
    }

    #merch .display {
        font-size: 36px;
    }

    #merch .button {
        margin-top: 15px;
    }
}

@media (max-width: 360px) {
    #merch .display {
        font-size: 30px;
    }

    #merch .button {
        font-size: 18px;
    }
}

#merch > img {
    position: absolute;
    bottom: -60%;
    right: -30%;
    z-index: 0;
    transform: rotate(-25deg);
}

@media (max-width: 1170px) {
    #merch > img {
        height: 100%;
        bottom: -40%;
        right: -20%;
    }
}

@media (max-width: 991px) {
    #merch > img {
        height: 100%;
        bottom: -40%;
        right: -40%;
    }
}

@media (max-width: 575px) {
    #merch > img {
        height: auto;
        bottom: -70%;
        right: -70%;
    }
}

@media (max-width: 476px) {
    #merch > img {
        bottom: -90%;
        right: -110%;
    }
}

/* Section Banner sections */

@media (max-width: 300px) {
    .section-banner.third br {
        display: inline-block;
    }
}

@media (max-width: 310px) {
    .section-banner.first br,
    .section-banner.second br {
        display: inline-block;
    }
}

@media (max-width: 410px) {
    .section-banner.fourth br {
        display: inline-block;
    }
}

/* Photo Highlights section */

#photo-highlights .image:nth-child(1) {
    background-image: url("../images/photo-highlight-1.jpg");
}

#photo-highlights .image:nth-child(2) {
    background-image: url("../images/photo-highlight-2.jpg");
}

#photo-highlights .image:nth-child(3) {
    background-image: url("../images/photo-highlight-3.jpg");
}
