#press.container {
    margin-top: 172px;
    margin-bottom: 172px;
}

#media-kit {
    margin-bottom: 120px;
}

.button-container {
    display: inline-block;
}

.year-container:not(:last-child) {
    margin-bottom: 24px;
}

.year {
    padding-bottom: 8px;
    border-bottom: 1px solid #828282;
}

.item {
    margin-top: 24px;
}

.item .author {
    flex-shrink: 0;
}

@media (min-width: 993px) {
    .item .author {
        margin-left: 120px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .item .author {
        margin-left: 60px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .item .author {
        margin-left: 30px;
    }
}

@media (min-width: 577px) {
    .item {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 576px) {
    .item .author {
        margin-top: 12px;
    }
}

@media (max-width: 500px) {
    #media-kit .title,
    #press-releases .title {
        font-size: 24px;
    }
}

#photo-highlights .image:nth-child(1) {
    background-image: url("../images/photo-highlight-9.jpg");
    background-position: right center;
}

#photo-highlights .image:nth-child(2) {
    background-image: url("../images/photo-highlight-1.jpg");
}

#photo-highlights .image:nth-child(3) {
    background-image: url("../images/photo-highlight-2.jpg");
}
