body {
    margin: 0;
    padding: 0;
}

hr {
    width: 90%;
}

.text-main {
    margin: 0;
    font-size: 42px;
}

.text-sub {
    margin: 0;
    font-size: 16px;
}

/* Navbar */

.navbar-brand img {
    background-color: #6d6d6d;
}

.nav-link {
    padding-left: 1.9rem !important;
    padding-right: 1.9rem !important;
}

/* Footer */

footer {
    padding: 25px 0;
}

footer p {
    text-align: center;
    margin: 0;
}

#footer-sm {
    margin-top: 10px;
}

.footer-sm-link {
    float: left;
    width: 25%;
    font-size: 22px;
    text-align: center;
}

.footer-page-row {
    text-align: center;
    height: 50%;
}

#footer-email-input {
    max-width: 300px;
    margin: 10px auto 0 auto;
}

/* Home Page */

/* Intro Section */

#intro-section {
    width: 100%;
    /* background-color: #e0e0e0; */
}

#intro-section .row {
    padding: 5% 0;
}

#intro-text-col {
    padding-left: 15%;
}

#intro-image-col {
    padding: 0 15%;
    text-align: center;
}

#intro-section .row div .btn {
    margin-top: 15px;
}

#intro-section .row div img {
    height: 400px;
}

/* Tagline Section */

#tagline-section {
    width: 100%;
    /* background-color: #c1c1c1; */
}

#tagline-section p {
    margin: 0;
    padding: 5% 0;
    text-align: center;
}

/* About Section */

#about-section {
    width: 100%;
    /* background-color: #b2b1b1; */
}

#about-section .row {
    padding: 5% 0;
}

#about-image-col {
    padding: 0 10%;
    text-align: center;
}

#about-text-col {
    padding-right: 15%;
}

#about-title {
    text-align: center;
}

#about-section .row div img {
    height: 400px;
}

#about-icons {
    width: 100%;
    margin: 0;
    padding-bottom: 0;
    text-align: center;
}

#about-icons i {
    font-size: 48px;
}

#about-icons span {
    font-size: 10px;
}

/* Share Section */

#share-section {
    width: 100%;
    /* background-color: #a8a8a8; */
}

#share-section .row {
    padding: 5% 0;
}

#share-title {
    text-align: center;
}

#share-subtext {
    width: 50%;
    margin: 0 auto;
}

#share-image-container {
    margin: 5% 15%;
}

#share-image-container img {
    width: calc(((100% - 15%) / 3) - 3px);
    margin: 0 2.5%;
}

/* Shop Page */

#shop-outer {
    height: calc(100vh - 101px - 98px);
}

#shop-outer .row {
    height: 100%;
}

#shop-outer .row .col {
    text-align: center;
    /* height: calc(100% - 101px - 98px); */
}

.shop-text {
    margin: 0 25%;
}

/* Contact Page */

#contact-outer {
    width: 600px;
    margin: 5% auto;
}

#contact-outer .text-main {
    text-align: center;
}

#contact-outer .text-sub {
    margin-bottom: 5%;
}